@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	
	.sh4 {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

	.sh3 {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

    .sh5 {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}


	.sh19 {
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	}



	select {
		background: none; /* Removes the default background */
		padding-right: 2.5em; /* Adds space for the custom icon */
	}

	select::-ms-expand {
		display: none; /* Hides the default arrow in IE and Edge */
	}
}
